-
	const global = {
		production: true,
		cdnUrl: 'https://cdn.egroup.com.tw',
		manifest: '50ab330a88863d058465',
		vendor: '7cafac6ad011f0a80fa0',
		main: '1f58688a61dcd501b3ce',
		mainDashboard: '2e3e5948bfb1f64ecc43',
	};