include ./includes/globalVariable.pug

doctype html
html(lang='zh-Hant')
	include ./includes/head.pug
	body.index-page.sidebar-collapse
		// Navbar
		.fixed-top
			nav.navbar.navbar-expand-lg.bg-primary.navbar-transparent.mb-0(color-on-scroll="400")
				.container
					.navbar-translate
						a.navbar-brand(href='#index')
							| eGroup AI
						button.navbar-toggler.navbar-toggler(type='button', data-toggle='collapse', data-target='#navigation', aria-controls='navigation-index', aria-expanded='false', aria-label='Toggle navigation')
							span.navbar-toggler-bar.bar1
							span.navbar-toggler-bar.bar2
							span.navbar-toggler-bar.bar3
					#navigation.collapse.navbar-collapse.justify-content-end(data-nav-image=global.cdnUrl + "/assets/images/blurred-image-1.jpg")
						ul.navbar-nav
							li.nav-item
								a.nav-link(href='#feature')
									i.now-ui-icons.design_bullet-list-67
									p Features
							li.nav-item
								a.nav-link(href='/dashboard/login')
									i.fa.fa-user-circle
									p Login
		// End Navbar
		.wrapper
			#index.page-header.clear-filter(filter-color='blue')
				.page-header-video
					video#video(src=global.cdnUrl + "/assets/video/FaceRecongnize_20180104_h264_1280X720_30p_blackend.mp4" poster=global.cdnUrl + "/assets/images/index_video.jpg" autoplay loop)
				.container
					.brand
						h1.h1-seo eGroup AI
						h3 Using your PC  Create an AI solution
						a(href='#modalTrial', data-toggle='modal').btn.btn-primary.btn-transparent Create Account						
					a(href='#feature').arrow
						i.fa.fa-angle-down
				p#videoVoiceControl.videoVoice
					i.fa.fa-volume-up
			.main
				//- #overview.section
				//- 	.container
				//- 		.text-center
				//- 			h3.title.landing__title The Simplest Engine.
				//- 			p
				//- 				| 不同於一般雲端服務，提供最多樣化以及彈性的參數設定，多種界接方式讓你用最低的成本導入影片辨識系統。
				//- 		.row
				//- 			.col-md-6
				//- 				.feature
				//- 					i.fa.fa-check
				//- 					p 比對相似度門檻值
				//- 				.feature
				//- 					i.fa.fa-check
				//- 					p 回傳相似臉數量
				//- 				.feature
				//- 					i.fa.fa-check
				//- 					p 採樣率/sec (max 30次/sec)
				//- 				.feature
				//- 					i.fa.fa-check
				//- 					p 輸出圖像解析度 (360p~1080p)
				//- 				.feature
				//- 					i.fa.fa-check
				//- 					p 是否裁切影像圖
				//- 				.feature
				//- 					i.fa.fa-check
				//- 					p 是否裁切人臉圖
				//- 				.feature
				//- 					i.fa.fa-check
				//- 					p 是否顯示影像視窗 
				//- 				.feature
				//- 					i.fa.fa-check
				//- 					p 選擇檔案輸出位置
				//- 				.feature
				//- 					i.fa.fa-check
				//- 					p 選擇WebCam
				//- 			// /why choose us content
				//- 			// About slider
				//- 			.col-md-6
				//- 				#about-slider.owl-carousel.owl-theme
				//- 					img.img-responsive(src='./images/about1.jpg', alt='')
				//- 					img.img-responsive(src='./images/about2.jpg', alt='')
				//- 					img.img-responsive(src='./images/about1.jpg', alt='')
				//- 					img.img-responsive(src='./images/about2.jpg', alt='')
				//- 			// /About slider

				#feature.section.section__gray
					.container
						.text-center
							h3.title.landing__title Features
						.row
							.col-12.col-md-6.col-lg-4
								.about
									i.fa.fa-windows
									h3 Wintel 環境
									p Windows 7/10，Intel® Core™ i3 第四代 
									p 不須購買特殊硬體設備，即可運行
									//- a(href='#windowsBased' data-toggle='modal') Read more
							.col-12.col-md-6.col-lg-4
								.about
									i.fa.fa-cubes
									h3 深度學習
									p 自行建置、訓練人臉模型
									p 愈訓練，人臉辨識愈精準
									//- a(href='#fullyCustomizible' data-toggle='modal') Read more
							.col-12.col-md-6.col-lg-4
								.about
									i.fa.fa-cogs
									h3 高度彈性
									p 自訂人臉辨識參數
									p 與既有AP快速整合
									//- a(href='#deepLearning' data-toggle='modal') Read more
							.col-12.col-md-6.col-lg-4
								.about
									i.fa.fa-cloud
									h3 邊界運算
									p COM/CMD版本搭配
									p 建置雲端本地辨識服務
									//- a(href='#scalable' data-toggle='modal') Read more
							.col-12.col-md-6.col-lg-4
								.about
									i.fa.fa-external-link-square
									h3 持續優化
									p 人臉辨識引擎
									p 保固內持續升級
									//- a(href='#scalable' data-toggle='modal') Read more
							.col-12.col-md-6.col-lg-4
								.about
									i.fa.fa-handshake-o
									h3 多元方案
									p 提供經銷商、OEM廠商
									p SI廠商、SP廠商合作方案
									//- a(href='#scalable' data-toggle='modal') Read more
				//- #userCase.section
				//- 	.container
				//- 		.text-center
				//- 			h3.title.landing__title User Case
				//- #support.section
				//- 	.container
				//- 		.text-center
				//- 			h3.title.landing__title Support
			// Sart Modal
			#modalTrial.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
				.modal-dialog
					.modal-content
						form#formTrial
							.modal-header.justify-content-center
								button.close(type='button', data-dismiss='modal', aria-hidden='true')
									i.now-ui-icons.ui-1_simple-remove
								h4.title.title-up 申請試用
							.modal-body
								//- .text-center
								//- 	p 請填寫下列資訊
								//- 	p eGroup AI 將在24小時內審核帳號並用E-mail回復您，謝謝!
								.form-group
									label *公司名稱
									input#inputCompanyName.form-control(type='text' placeholder='公司名稱' name='companyname')
								.form-group
									label *聯絡人
									input#inputContactPerson.form-control(type='text' placeholder='聯絡人' name='contactperson')
								.form-group
									label *聯絡信箱
									input#inputContactEmail.form-control(type='text' placeholder='聯絡信箱' name='contactemail')
									.form-group-spinner.invisible
										.spinner2
							.modal-footer
								button#buttonSubmitTrial.btn.btn-primary.w-100(type='submit') 送出
			#modalRegister.modal.fade.modalRegister(data-backdrop='static' tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-header.justify-content-center
							button#buttonCloseModalRegister.close.invisible(type='button', data-dismiss='modal', aria-hidden='true')
								i.now-ui-icons.ui-1_simple-remove
							h4.title.title-up 請稍候
						.modal-body
							.text-center
								.spinner2
							#modalRegisterContent.d-none
								p eGroup AI
								p 將在24小時內審核帳號並用E-mail回復您，謝謝!
							#modalRegisterFailureContent.d-none
								p 帳號申請失敗，請稍後再試。
						//- .modal-footer
						//- 	button.btn.btn-primary.w-100(type='button' data-dismiss='modal') close
			//- #windowsBased.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			//- 	.modal-dialog
			//- 		.modal-content
			//- 			.modal-header.justify-content-center
			//- 				h4.title.title-up Windows Based
			//- 			.modal-body
			//- 				.feature
			//- 					i.fa.fa-check
			//- 					p Windows環境
			//- 				.feature
			//- 					i.fa.fa-check
			//- 					p CPU第4代以上(指令集SSE3以上)
			//- 				.feature
			//- 					i.fa.fa-check
			//- 					p C++2015轉發套件
			//- 				.feature
			//- 					i.fa.fa-check
			//- 					p 不需連網
			//- #fullyCustomizible.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			//- 	.modal-dialog
			//- 		.modal-content
			//- 			.modal-header.justify-content-center
			//- 				h4.title.title-up Windows Based
			//- 			.modal-body
			//- 				.feature
			//- 					i.fa.fa-check
			//- 					p 可依情境設定引擎參數，包含 : 採樣速度、相似度門檻、解析度、裁切圖檔、輸出位置
			//- 				.feature
			//- 					i.fa.fa-check
			//- 					p 辨識結果提供人臉與相似臉相似度、臉部座標，可依情境彈性應用
			//- 				.feature
			//- 					i.fa.fa-check
			//- 					p 多樣化輸入來源，包含 : WebCam、IPCam、Video
			//- 				.feature
			//- 					i.fa.fa-check
			//- 					p 輸出格式簡單，影像圖、人臉圖、JSON辨識結果
			//- #deepLearning.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			//- 	.modal-dialog
			//- 		.modal-content
			//- 			.modal-header.justify-content-center
			//- 				h4.title.title-up Windows Based
			//- 			.modal-body
			//- 				.feature
			//- 					i.fa.fa-check
			//- 					p 可自行訓練人臉，自動數值化並建立、調整模型，
			//- 				.feature
			//- 					i.fa.fa-check
			//- 					p 愈訓練愈準確
			//- #scalable.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			//- 	.modal-dialog
			//- 		.modal-content
			//- 			.modal-header.justify-content-center
			//- 				h4.title.title-up Windows Based
			//- 			.modal-body
			//- 				.feature
			//- 					i.fa.fa-check
			//- 					p 可建置成上網的線上辨識服務及不須聯網的線下辨識服務
			//- 				.feature
			//- 					i.fa.fa-check
			//- 					p 邊界運算（Edge Computing）以擴充辨識對象規模並加快辨識速度
			// End Modal
			footer.footer(data-background-color='black')
				.container
					//- nav
					//- 	ul
					//- 		li
					//- 			span photo provide from 
					//- 			a(style='background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px;', href='https://unsplash.com/@grohsfabian?utm_medium=referral&utm_campaign=photographer-credit&utm_content=creditBadge', target='_blank', rel='noopener noreferrer', title='Download free do whatever you want high-resolution photos from Fabian Grohs')
					//- 				span(style='display:inline-block;padding:2px 3px;')
					//- 					svg(xmlns='http://www.w3.org/2000/svg', style='height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;', viewbox='0 0 32 32')
					//- 						title unsplash-logo
					//- 						path(d='M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z')
					//- 				span(style='display:inline-block;padding:2px 3px;') Fabian Grohs
					//- 		li
					//- 			a(style='background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px;', href='https://unsplash.com/@madebymarius?utm_medium=referral&utm_campaign=photographer-credit&utm_content=creditBadge', target='_blank', rel='noopener noreferrer', title='Download free do whatever you want high-resolution photos from Marius Ciocirlan')
					//- 				span(style='display:inline-block;padding:2px 3px;')
					//- 					svg(xmlns='http://www.w3.org/2000/svg', style='height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;', viewbox='0 0 32 32')
					//- 						title unsplash-logo
					//- 						path(d='M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z')
					//- 				span(style='display:inline-block;padding:2px 3px;') Marius Ciocirlan
					//- 		li
					//- 			a(style='background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px;', href='https://unsplash.com/@jplenio?utm_medium=referral&utm_campaign=photographer-credit&utm_content=creditBadge', target='_blank', rel='noopener noreferrer', title='Download free do whatever you want high-resolution photos from Johannes Plenio')
					//- 				span(style='display:inline-block;padding:2px 3px;')
					//- 					svg(xmlns='http://www.w3.org/2000/svg', style='height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;', viewbox='0 0 32 32')
					//- 						title unsplash-logo
					//- 						path(d='M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z')
					//- 				span(style='display:inline-block;padding:2px 3px;') Johannes Plenio
					.copyright
						| © eGroup All Right Deserve
	include ./includes/importjs.pug
	
