//- production
if global.production
	script(type='text/javascript').
		if (window.location.protocol !== 'https:') {
			location.href = location.href.replace('http://', 'https://');
		}
	script(src=global.cdnUrl + "/js/manifest." + global.manifest + ".js")
	script(src=global.cdnUrl + "/js/vendor." + global.vendor + ".js")
	script(src=global.cdnUrl + "/js/mainDashboard." + global.mainDashboard + ".js")
else
	script(src="http://localhost:7081/vendor.js")
	script(src="http://localhost:7081/mainDashboard.js")