// Logout Modal
#logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='logoutModalLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5#logoutModalLabel.modal-title 確定要登出嗎?
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        | 除了臉部特徵模型外，我們將不保留您上傳的影音資料
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') 取消
        a.btn.btn-primary(href='/dashboard/logout') 確認
