extends layouts/basic.pug

block append variables
	-
		options[3].open = true;
		options[3].items[2].active = true;

block breadcrumb
	ol.breadcrumb
		li.breadcrumb-item
			a(href='#') 參考資料
		li.breadcrumb-item.active 文件下載

block main
	h3 最新版本
	.list-group
		a.list-group-item.list-group-item-action(target="_blank" href='https://cdn.egroup.com.tw/document/RetrieveFace_ByCam_Release_20180109_V1.8.pdf') v1.8 CMD指令版本文件下載
	hr
	h3 歷史版本
	.list-group
		a.list-group-item.list-group-item-action(target="_blank" href='https://cdn.egroup.com.tw/document/RetrieveFace_ByCam_Release_20171221_V1.7.pdf') v1.7 CMD指令版本文件下載
		a.list-group-item.list-group-item-action(target="_blank" href='https://cdn.egroup.com.tw/document/RetrieveFace_ByCam_Release_20171221_V1.6.pdf') v1.6 CMD指令版本文件下載
		a.list-group-item.list-group-item-action(target="_blank" href='https://cdn.egroup.com.tw/document/RetrieveFace_ByCam_Release_20171221_V1.5.pdf') v1.5 CMD指令版本文件下載
		a.list-group-item.list-group-item-action(target="_blank" href='https://cdn.egroup.com.tw/document/RetrieveFace_ByCam_Release_20171201_V1.4.pdf') v1.4 CMD指令版本文件下載
	