extends layouts/basic.pug

block append variables
	-
		options[4].active = true;

block breadcrumb
	ol.breadcrumb
		li.breadcrumb-item.active 下載試用

block main
	h3 表單填寫完成之後，會寄送下載連結給您。
	.row
		.col-12
			.card.mb-3
				.card-header
					i.fa.fa-info.mr-1
					| 填寫表單
				.card-body
					form#formDownload
						.form-group
							label(for='inputJobTitle') 職稱(Job Title)
							input#inputJobTitle.form-control(type='text' placeholder='Job Title' name='jobTitle')
						.form-group
							label(for='selectJobRole') 職業角色(Job Role)
							select#selectJobRole.form-control(name='jobRole')
								option(value="" disabled selected hidden) Select Job Role
								option(value="企業家(創辦人/共同創辦人) Entrepreneur (Founder/Co-Founder)") 企業家(創辦人/共同創辦人) Entrepreneur (Founder/Co-Founder)
								option(value="企業主管 Business Executive") 企業主管 Business Executive
								option(value="開發人員 / 工程師 Developer / Engineer") 開發人員 / 工程師 Developer / Engineer
								option(value="系統解決方案架構師 Solution or Systems Architect") 系統解決方案架構師 Solution or Systems Architect
								option(value="學術/研究員 Academic / Researcher") 學術/研究員 Academic / Researcher
								option(value="顧問 Consultant") 顧問 Consultant
								option(value="銷售/市場行銷 Sales / Marketing") 銷售/市場行銷 Sales / Marketing
								option(value="學生 Student") 學生 Student
						.form-group
							label(for='inputPhoneNumber') 聯絡電話(Phone Number)
							input#inputPhoneNumber.form-control(type='text' placeholder='Phone Number' name='phoneNumber')
						.form-group
							label(for='selectCompanyType') 公司類型(Company Type)
							select#selectCompanyType.form-control(name='companyType')
								option(value="" disabled selected hidden) Select Company Type
								option(value="系統整合 System Integration") 系統整合 System Integration
								option(value="原廠委託製造代工  Original Equipment Manufactures") 原廠委託製造代工  Original Equipment Manufactures
								option(value="經銷商 Distributor") 經銷商 Distributor
								option(value="平台服務商 Service Provider") 平台服務商 Service Provider
								option(value="教育推廣 Education Promotion") 教育推廣 Education Promotion
								option(value="其他 Other") 其他 Other
						.form-group
							label(for='textAreaCaseDescription') 應用情境描述(Recognition Case Description )
							textarea#textAreaCaseDescription.form-control(rows='3' name='caseDescription')
						.form-group
							label(for='inputCaseScale') 應用辨識人數(Recognition Case Scale)
							input#inputCaseScale.form-control(type='text' placeholder='Recognition Case Scale' name="caseScale")
						.form-group
							label 是否使用過辨識服務(Recognition Services Experience)
							.form-check
								input#radioIsServiceExp.form-check-input.jsRadioIsServiceExp(type='radio' name='isServiceExp' value='true' checked='')
								label.form-check-label(for='radioIsServiceExp') 是
							.form-check
								input#radioIsServiceExp2.form-check-input.jsRadioIsServiceExp(type='radio' name='isServiceExp' value='false')
								label.form-check-label(for='radioIsServiceExp2') 否
						.form-group
							label(for='inputServiceUsed') 使用過的辨識服務(Used Recognition Services)
							input#inputServiceUsed.form-control(type='text' placeholder='Used Recognition Services' name="serviceUsed")
						button.btn.btn-primary(type="submit") 確認