extends layouts/basic.pug

block append variables
	-
		options[3].open = true;
		options[3].items[0].active = true;

block breadcrumb
	ol.breadcrumb
		li.breadcrumb-item
			a(href='#') 參考資料
		li.breadcrumb-item.active 辨識結果

block main
	.row
		.col-12
			pre#json
	script.
		document.getElementById("json").innerHTML = JSON.stringify(
		[{"hasFace": "1",
			"faceSorting": "0",
			"faceId": "Jerry",
			"top": "239",
			"bottom": "513",
			"left": "329",
			"right": "603",
			"width": "274",
			"height": "274",
			"eyeLeftX": "420",
			"eyeLeftY": "343",
			"eyeRightX": "529",
			"eyeRightY": "341",
			"noseX": "477",
			"noseY": "403",
			"mouthLeftX": "430",
			"mouthLeftY": "443",
			"mouthRightX": "523",
			"mouthRightY": "441",
			"face_src":"C:/Users/Administrator/Desktop/FaceModel/a52162166a6e4176ad31c8750787604b/video/output_face/1-9.1.0.jpg",
			"videoTime":"1.04",
			"videoFrameID":"31",
			"time":"2018-1-9 16:8:2:77",
			"similarFaceList": [
							{"faceId":"Jerry",
							"facePath":"C:/Users/Administrator/Desktop/FaceModel/a52162166a6e4176ad31c8750787604b/photo/QueryFace/3b4b9c3d817b4a05bc2632565598dc2d5i2f3c1y_0.norm.jpg",
							"similarity" : "0.6794"
							}
					]
			}
			,
			{"hasFace": "1",
			"faceSorting": "0",
			"faceId": "Daniel",
			"top": "78",
			"bottom": "625",
			"left": "491",
			"right": "1038",
			"width": "547",
			"height": "547",
			"eyeLeftX": "645",
			"eyeLeftY": "297",
			"eyeRightX": "910",
			"eyeRightY": "288",
			"noseX": "775",
			"noseY": "376",
			"mouthLeftX": "670",
			"mouthLeftY": "560",
			"mouthRightX": "892",
			"mouthRightY": "554",
			"face_src":"C:/Users/Administrator/Desktop/FaceModel/a52162166a6e4176ad31c8750787604b/video/output_face/1-9.2.0.jpg",
			"videoTime":"5.19",
			"videoFrameID":"155",
			"time":"2018-1-9 16:8:3:434",
			"similarFaceList": [
							{"faceId":"Daniel",
							"facePath":"C:/Users/Administrator/Desktop/FaceModel/a52162166a6e4176ad31c8750787604b/photo/QueryFace/e295ef3bd97a43489eb29dddff5e8d008a8Htf1A_0.norm.jpg",
							"similarity" : "0.7119"
							}
					]
			}
			,
			{"hasFace": "1",
			"faceSorting": "0",
			"faceId": "Daniel",
			"top": "70",
			"bottom": "643",
			"left": "401",
			"right": "974",
			"width": "573",
			"height": "573",
			"eyeLeftX": "553",
			"eyeLeftY": "295",
			"eyeRightX": "813",
			"eyeRightY": "283",
			"noseX": "683",
			"noseY": "375",
			"mouthLeftX": "586",
			"mouthLeftY": "558",
			"mouthRightX": "807",
			"mouthRightY": "550",
			"face_src":"C:/Users/Administrator/Desktop/FaceModel/a52162166a6e4176ad31c8750787604b/video/output_face/1-9.3.0.jpg",
			"videoTime":"6.23",
			"videoFrameID":"186",
			"time":"2018-1-9 16:8:3:871",
			"similarFaceList": [
							{"faceId":"Daniel",
							"facePath":"C:/Users/Administrator/Desktop/FaceModel/a52162166a6e4176ad31c8750787604b/photo/QueryFace/e295ef3bd97a43489eb29dddff5e8d008a8Htf1A_0.norm.jpg",
							"similarity" : "0.7229"
							}
					]
			}
			,
			{"hasFace": "0",
			"faceSorting": "0",
			"faceId": "1-9_4_0",
			"top": "306",
			"bottom": "425",
			"left": "934",
			"right": "1053",
			"width": "119",
			"height": "119",
			"eyeLeftX": "971",
			"eyeLeftY": "344",
			"eyeRightX": "1016",
			"eyeRightY": "341",
			"noseX": "992",
			"noseY": "364",
			"mouthLeftX": "978",
			"mouthLeftY": "393",
			"mouthRightX": "1006",
			"mouthRightY": "393",
			"face_src":"C:/Users/Administrator/Desktop/FaceModel/a52162166a6e4176ad31c8750787604b/video/output_face/1-9.4.0.jpg",
			"videoTime":"9.35",
			"videoFrameID":"279",
			"time":"2018-1-9 16:8:4:996",
			"similarFaceList": [
					]
			}
			,
			{"hasFace": "1",
			"faceSorting": "0",
			"faceId": "Jerry",
			"top": "376",
			"bottom": "537",
			"left": "493",
			"right": "654",
			"width": "161",
			"height": "161",
			"eyeLeftX": "543",
			"eyeLeftY": "430",
			"eyeRightX": "612",
			"eyeRightY": "429",
			"noseX": "579",
			"noseY": "470",
			"mouthLeftX": "549",
			"mouthLeftY": "493",
			"mouthRightX": "607",
			"mouthRightY": "493",
			"face_src":"C:/Users/Administrator/Desktop/FaceModel/a52162166a6e4176ad31c8750787604b/video/output_face/1-9.5.0.jpg",
			"videoTime":"10.4",
			"videoFrameID":"310",
			"time":"2018-1-9 16:8:5:511",
			"similarFaceList": [
							{"faceId":"Jerry",
							"facePath":"C:/Users/Administrator/Desktop/FaceModel/a52162166a6e4176ad31c8750787604b/photo/QueryFace/3b4b9c3d817b4a05bc2632565598dc2d5i2f3c1y_0.norm.jpg",
							"similarity" : "0.6854"
							}
					]
			}], undefined, 2);