extends layouts/empty.pug

block main
	.card.card-login.mx-auto.mt-5
		.card-header
			| 登入
		.card-body
			form#formLogin
				.form-group
					label(for='inputEmail') 信箱
					input#inputEmail.form-control(type='email', aria-describedby='emailHelp', placeholder='聯絡信箱')
				.form-group
					label(for='inputPassword') 密碼
					input#inputPassword.form-control(type='password', placeholder='密碼')
				//- .form-group
				//- 	.form-check
				//- 		label.form-check-label
				//- 			input.form-check-input(type='checkbox')
				//- 			| Remember Password
				button(type="submit").btn.btn-primary.btn-block 登入
			.text-center
				a.d-block.small.mt-3(href='/index?showRegister=true') 申請試用
				//- a.d-block.small(href='forgot-password.html') Forgot Password?
		
	