extends layouts/empty.pug

block main
	.card.card-login.mx-auto.mt-5
		.card-header
			| 重設密碼
		.card-body
			.text-center.mt-4.mb-5
				h4 設定新密碼
				p 輸入舊密碼以及新密碼
			form#formResetPassword
				.form-group
					label(for='inputOldPassword') 請輸入舊密碼
					input#inputOldPassword.form-control(type='password', placeholder='請輸入舊密碼' name='oldpassword')
				.form-group
					label(for='inputNewPassword') 請輸入新密碼
					input#inputNewPassword.form-control(type='password', placeholder='請輸入新密碼' name='newpassword')
				.form-group
					label(for='inputConfirmNewPassword') 請確認新密碼
					input#inputConfirmNewPassword.form-control(type='password', placeholder='請確認新密碼')
				button(type="submit").btn.btn-primary.btn-block 重設密碼
			.text-center
				a.d-block.small.mt-3(href='/dashboard') 返回儀表板
				//- a.d-block.small(href='login') Login Page
