extends layouts/basic.pug

block append variables
	-
		options[3].open = true;
		options[3].items[1].active = true;

block breadcrumb
	ol.breadcrumb
		li.breadcrumb-item
			a(href='#') 參考資料
		li.breadcrumb-item.active Demo影片

block main
	.row
		.col-12
			.embed-responsive.embed-responsive-16by9
				iframe(src="https://www.youtube.com/embed/YdUSXfnOnAU?ecver=2" controls).embed-responsive-item