.faceList {
	margin: 0 auto;

	&__item {
		max-width: 20em;
		margin-bottom: 1em;
		padding: 0 8px;

		.input__hoverBox {
			width: 100%;
			margin-top: 15px;
		}

		.input__hover {
			text-align: center;
			width: 100%;
		}

		&--selected,
		&--checked {
			.faceList__hover {
				opacity: 1;
			}
		}

		&--selected {
			.faceList__hover {
				background-color: transparent;
			}

			.faceList__selector {
				color: $primary-color-2;
			}

			.faceList__img {
				box-shadow: 0 0 20px 0 rgba(29, 138, 219, 0.8);
			}
		}

		&--checked {
			.faceList__check--checked {
				color: #fff;
			}
		}
	}

	&__face {
		border-radius: 50%;
		position: relative;
		transition: box-shadow 0.4s;
		cursor: pointer;
		height: 100%;
		width: 100%;

		&:hover {
			box-shadow: 0 0 20px 0 rgba(31, 31, 31, 0.5);

			.faceList__hover {
				opacity: 1;
			}
		}
	}

	&__img {
		position: relative;
		border-radius: 50%;
		overflow: hidden;
		padding-bottom: 100%;
		background-color: #eee;
		display: block;

		img {
			border-radius: 50%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__hover {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: -1px;
		border-radius: 50%;
		opacity: 0;
		transition: all 0.4s;
		background-color: rgba(0, 0, 0, 0.6);
	}

	&__selector,
	&__editor,
	&__check,
	&__cross {
		position: absolute;
		color: $gray-color-4;
		cursor: pointer;
	}

	&__selector {
		font-size: $base5;
		right: 0;
		top: 0;

		&:hover {
			color: $primary-color-2;
		}
	}

	&__editor {
		font-size: $base4;
		right: 45%;
		top: 45%;
	}

	&__check,
	&__cross {
		font-size: $base8;

		&:hover {
			color: #fff;
		}
	}

	&__check {
		top: 43%;
		left: 20%;
	}

	&__cross {
		top: 43%;
		right: 20%;

		&--center {
			right: 40%;
		}
	}
}
