.no-boxshadow {
	box-shadow: none;
}

.mask {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(#000, 0.5);
	z-index: 1071;
}

.abscenter {
	position: absolute;
	left: 50%;
	top: 50%;
	transition: translate(-50%, -50%);
}
