video {
	background: #000;
}

.video {
	&__playButton {
		position: absolute;
		top: 50%;
		left: 50%;
		background: rgba(0, 0, 0, 0.5);
		border: 0;
		color: #eee;
		border-radius: 3px;
		opacity: 0;
		transition: opacity 0.3s;
		transform: translate(-50%, -50%);
		z-index: 1;

		&:hover {
			cursor: pointer;
		}
	}

	&__container {
		position: relative;

		&:hover {
			.video__playButton {
				opacity: 0.9;
			}
		}
	}

	&__controls {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&__menu {
		padding: 5px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
	}

	&__seekBar {
		position: relative;
		margin: auto;
		outline: none;
		padding: 0;
		height: 6px;
		background-color: $primary-color-3;
		border-radius: 10px;
		cursor: pointer;
	}

	&__seekBarSlider {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 0;
		border-radius: 10px;
		background-color: $primary-color-2;
		transition: width 0.1s ease-in-out;
	}

	&__seekBarThumb {
		position: absolute;
		right: -7px;
		top: -3px;
		width: 14px;
		height: 14px;
		border: 0;
		background: #fff;
		border-radius: 100%;
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
	}
}
