include ../../includes/globalVariable.pug

include ../mixins/navbar.pug

block variables
	-
		const options = [{
			title: '首頁',
			link: '/dashboard/',
			icon: 'fa-home',
			id: 'navIndex',
		}, {
			title: '人臉模型',
			icon: 'fa-wrench',
			items: [{
				title: '訓練人臉',
				link: '/dashboard/train',
				id: 'navTrain',
			}, {
				title: '我的模型',
				link: '/dashboard/model',
				id: 'navModel',
			}],
		}, {
			title: '人臉辨識',
			icon: 'fa-registered',
			items: [{
				title: '影片辨識',
				link: '/dashboard/recognize',
				id: 'navRecognize',
			}],
		}, {
			title: '參考資料',
			icon: 'fa-book',
			items: [{
				title: '辨識結果',
				link: '/dashboard/json',
				id: 'navJson',
			},{
				title: 'Demo影片',
				link: '/dashboard/videos',
				id: 'navVideos',
			}, {
				title: '文件下載',
				link: '/dashboard/documents',
				id: 'navDocuments',
			}],
		}, {
			title: '下載試用',
			link: '/dashboard/download',
			icon: 'fa-download',
			id: 'navDownload',
		}, {
			title: '修改密碼',
			link: '/dashboard/resetpassword',
			icon: 'fa-key',
			id: 'navResetpassword',
		}];

doctype html
html(lang='zh-Hant')
	include ../includes/head.pug
	body#page-top.sticky-footer.bg-dark
		+navbar(options, active)
		.content-wrapper
			.container-fluid
				block breadcrumb
				block main
			// /.container-fluid
			// /.content-wrapper
			block footer
				include ../includes/footer.pug
		include ../includes/scroll-to-top.pug
		include ../includes/modals/logout.pug
		include ../includes/driftWindows/upload.pug
		include ../includes/loaders/fullPage.pug
		include ../includes/importjs.pug
		
